html {
  color: black;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

h1 {
  text-shadow: 15px 15px 0 rgba(0, 0, 0, 1);
  font-size: 90px;
}
